body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(47, 73, 177, 0.192);
}

header {
    background-color: #b69daf;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
   

}
header h2{
    /* margin: 0; */
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#form-section {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

#student-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="email"] ,input[type="date"] {
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#display-section {
    margin-top: 20px;
}

#student-table {
    width: 100%;
    border-collapse: collapse;
}

#student-table th, #student-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#student-table th {
    background-color: #f0f0f0;
}

/* Add media queries for different screen sizes */

@media only screen and (max-width: 768px) {
    #form-section {
      padding: 10px;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
      height: 30px;
      margin-bottom: 10px;
    }
    button[type="submit"] {
      padding: 5px 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    #form-section {
      padding: 5px;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
      height: 25px;
      margin-bottom: 5px;
    }
    button[type="submit"] {
      padding: 3px 5px;
    }
  }